header{align-self: center; align-content: center; font-family: "Calibri"}
section{align-self: center; max-width: 80%}
table{min-width: 800px; margin: 0 auto}
table, th, td{border: 3px solid lightgray}
.footer-button{
    background-color: transparent;
    float: right;
    margin-top: 3%;
}
