body{background-color: #2e5a0c; color: darkslategray}
main
{
    flex-direction: column;
    border-color: #2d3748; border-radius:2%; border-width: medium;
    background-color: #daa520; padding:5%;
    margin: 20px 10%;
}
