header{align-self: center; align-content: center; font-family: "Calibri" }
section{align-self: center; max-width: 80%}
.title{
    text-align: center;
    background-color: transparent
}
.table-container{
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
}
.box {
    display: flex;
    justify-content: center;
}
.box-footer{
    float: right;
}
